<nav>
  <ul>
    <li><a routerLink="/UserHome" routerLinkActive="active" ariaCurrentWhenActive="page">UserHome</a></li>
    <li><a routerLink="/MySwingBuddy" routerLinkActive="active" ariaCurrentWhenActive="page">MySwingBuddy</a></li>
    <li><a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/Register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
    <li><a routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page">login</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>