<nav>
  <ul>
    <li><a routerLink="/UserHome" routerLinkActive="active" ariaCurrentWhenActive="page">UserHome</a></li>
    <li><a routerLink="/MySwingBuddy" routerLinkActive="active" ariaCurrentWhenActive="page">MySwingBuddy</a></li>
    <li><a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">Hone</a></li>
  </ul>
</nav>

<!-- <amplify-authenticator>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <h1>Welcome {{ user.username }}!</h1>
    <button (click)="signOut()">Sign Out</button>
  </ng-template>
</amplify-authenticator> -->

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>